header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 62px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #00000033;
    opacity: 1;
}

.page-wrap{
    padding: 2rem 0;
}

.navbar-light .navbar-brand{
    color:#28C67D;
    font-size: 16px;
    font-weight: bold;
}

.navbar-light .navbar-brand:hover{
    color:#28C67D;
}

header .top-bar{
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    display: flex;
}

header .container {
    text-align: right;
    height: 100%;
}
header .top-bar li a{
    padding: .25rem 1rem;
    color:#28C67D;
    text-decoration: none;
    font: Bold 16px/29px Nunito;
    letter-spacing: 0px;
}

header .top-bar li a:hover{
    color:#F29F3F;
}

footer{
    background-color: #18293C;
    width: 100%;
    height: 186px;
}
footer .footer-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer .container {
    text-align: right;
    height: 100%;
}
footer .footer-bar li a{
    padding: .25rem 1rem;
    color:#28C67D;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
}

footer .footer-bar li a:hover{
    color:#F29F3F;
}
footer .menu-pos{
    margin-top: 15px;
}
footer .text{
    color: #567084;
    font-size: 16px;
    font-weight: bold;
}

hr.line{
    border: 1px solid #567084;
}

@media all and (max-width: 576px) 
{ 
    footer .footer-bar{
        display: block;
    }

    footer .container{
        text-align: left;
    }
}